img {
  height: 300px;
  width: 500px;
  padding: 10px;
}

.article {
  margin: 2%;
  width: 45%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-div {
  background-color: #7d48a8;
  font-size: x-large;
  color: #ffffff;
  padding: 1%;
}

.article-title {
  font-size: x-large;
  color: black;
}